In [1]:
import findspark
findspark.init("/usr/local/sdkman/candidates/spark/current")

In [2]:
import pyspark
from pyspark.sql import SparkSession

In [3]:
# Ans. 1  version 3.3.2
pyspark.__version__

'3.3.2'

In [3]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

24/03/05 14:36:07 WARN Utils: Your hostname, codespaces-92925a resolves to a loopback address: 127.0.0.1; using 172.16.5.4 instead (on interface eth0)
24/03/05 14:36:07 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/03/05 14:36:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz

--2024-03-02 19:43:43--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240302%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240302T194344Z&X-Amz-Expires=300&X-Amz-Signature=6eece7d61cf01708e050d2b5973b4ed9baaef7f42dbca8dae35eb8576d4115da&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-03-02 19:43:44--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240302%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240302T194344Z&X-Amz-Expires=300&X-Amz-Signature=6eece7d61cf01708e050d2b5973b4ed9baaef7f42dbca8dae35eb8576d4115da&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19375751 (18M) [application/octet-stream]
Saving to: ‘fhv_tripdata_2019-10.csv.gz’

fhv_tripdata_2019-1 100%[===================>]  18.48M   121MB/s    in 0.2s

2024-03-02 19:43:44 (121 MB/s) - ‘fhv_tripdata_2019-10.csv.gz’ saved [19375751/19375751]

In [5]:
!gunzip -c fhv_tripdata_2019-10.csv.gz > fhv_tripdata_2019-10.csv

In [6]:
!rm fhv_tripdata_2019-10.csv.gz

In [7]:
!wc -l fhv_tripdata_2019-10.csv

1897494 fhv_tripdata_2019-10.csv

In [8]:
!head -n 1001 fhv_tripdata_2019-10.csv > head_fhv.csv

In [11]:
df_temp = spark.read \
    .option("header", "true") \
    .option("inferschema", "true") \
    .csv('head_fhv.csv')

In [13]:
df_temp.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropOff_datetime: timestamp (nullable = true)
 |-- PUlocationID: integer (nullable = true)
 |-- DOlocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [15]:
schema = df_temp.schema

In [16]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhv_tripdata_2019-10.csv')

In [17]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropOff_datetime: timestamp (nullable = true)
 |-- PUlocationID: integer (nullable = true)
 |-- DOlocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [18]:
df.head(5)

[Row(dispatching_base_num='B00009', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 23), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 35), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00009'),
 Row(dispatching_base_num='B00013', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 11, 29), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 13, 22), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00013'),
 Row(dispatching_base_num='B00014', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 11, 43), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 37, 20), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00014'),
 Row(dispatching_base_num='B00014', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 56, 29), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 57, 47), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00014'),
 Row(dispatching_base_num='B00014', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 23, 9), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 28, 27), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00014')]

In [19]:
#repartition is a lazy command (excuted only when we write)
df = df.repartition(6)

In [20]:
df.write.parquet('fhv/2019/10/')

In [21]:
# Ans 2: 6 MB
!ls -lh fhv/2019/10

total 38M
-rw-r--r-- 1 codespace codespace    0 Mar  2 19:58 _SUCCESS
-rw-r--r-- 1 codespace codespace 6.3M Mar  2 19:58 part-00000-4554cd26-04c0-4f18-872a-7a4f9cabc03e-c000.snappy.parquet
-rw-r--r-- 1 codespace codespace 6.3M Mar  2 19:58 part-00001-4554cd26-04c0-4f18-872a-7a4f9cabc03e-c000.snappy.parquet
-rw-r--r-- 1 codespace codespace 6.3M Mar  2 19:58 part-00002-4554cd26-04c0-4f18-872a-7a4f9cabc03e-c000.snappy.parquet
-rw-r--r-- 1 codespace codespace 6.3M Mar  2 19:58 part-00003-4554cd26-04c0-4f18-872a-7a4f9cabc03e-c000.snappy.parquet
-rw-r--r-- 1 codespace codespace 6.3M Mar  2 19:58 part-00004-4554cd26-04c0-4f18-872a-7a4f9cabc03e-c000.snappy.parquet
-rw-r--r-- 1 codespace codespace 6.3M Mar  2 19:58 part-00005-4554cd26-04c0-4f18-872a-7a4f9cabc03e-c000.snappy.parquet

In [4]:
df = spark.read.parquet('fhv/2019/10')

In [11]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02784|2019-10-01 09:55:38|2019-10-01 10:05:43|          89|          85|   null|                  null|
|              B01315|2019-10-05 15:13:04|2019-10-05 15:19:48|         264|          74|   null|                B01315|
|              B01984|2019-10-12 17:13:00|2019-10-12 17:40:00|         264|          75|   null|                B01984|
|              B00310|2019-10-15 10:55:04|2019-10-15 11:00:45|         264|         247|   null|                B03047|
|              B00932|2019-10-08 06:58:42|2019-10-08 07:11:11|         264|          37|   null|                B00932|
|              B01029|2019-10-10 14:45:00|2019-10-10 15:47:00|         264|         264|   null|                B01029|
|              B01087|2019-10-14 18:41:24|2019-10-14 19:02:06|         261|         186|   null|                B01087|
|              B03080|2019-10-05 14:49:10|2019-10-05 15:02:14|         264|          25|   null|                B02889|
|              B03160|2019-10-10 12:50:00|2019-10-10 13:34:00|          77|          77|   null|                B02882|
|              B02472|2019-10-16 14:12:36|2019-10-16 14:35:00|         264|         157|   null|                B02472|
|              B01051|2019-10-05 22:06:46|2019-10-05 22:16:57|         264|         182|   null|                B01051|
|              B02111|2019-10-08 14:58:52|2019-10-08 15:40:41|          98|          79|   null|                B02111|
|              B00254|2019-10-03 20:33:11|2019-10-03 21:52:16|         246|         265|   null|                B02356|
|              B00756|2019-10-16 10:58:00|2019-10-16 11:18:00|         264|         264|   null|                B00756|
|              B02249|2019-10-04 19:55:49|2019-10-04 20:08:25|         264|         192|   null|                B02249|
|              B03202|2019-10-13 07:39:33|2019-10-13 08:18:31|         264|         132|   null|                B03202|
|              B00419|2019-10-11 08:33:12|2019-10-11 08:46:22|         182|         185|   null|                B00419|
|              B02095|2019-10-09 11:16:00|2019-10-09 11:44:00|         264|         264|   null|                B02095|
|              B02930|2019-10-05 22:06:15|2019-10-05 22:25:31|         264|          69|   null|                B02930|
|              B01239|2019-10-07 20:08:15|2019-10-07 20:16:06|         264|          51|   null|                B02847|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [5]:
# in order to execute SQL queries on the dataset, we need to register to Temp Table
df.registerTempTable('fhv_trips_data')

/usr/local/sdkman/candidates/spark/current/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [21]:
# Ans.3 62610

spark.sql("""
SELECT
    date_trunc('day', pickup_datetime) AS day,
    count(1)
FROM
    fhv_trips_data
WHERE
    date_trunc('day', pickup_datetime)=='2019-10-15'
GROUP BY
    day
""").show()

+-------------------+--------+
|                day|count(1)|
+-------------------+--------+
|2019-10-15 00:00:00|   62610|
+-------------------+--------+

In [51]:

spark.sql("""
SELECT
    pickup_datetime,
    dropOff_datetime,
    date_trunc('day', pickup_datetime) AS day,
    MAX(DATEDIFF(HOUR, pickup_datetime, dropOff_datetime)) AS trip_time
FROM
    fhv_trips_data
WHERE
    date_trunc('day', pickup_datetime)='2019-10-11'
GROUP BY
    pickup_datetime, dropOff_datetime, day
ORDER BY
    trip_time DESC
""").show(n=100, truncate=False)

+-------------------+-------------------+-------------------+---------+
|pickup_datetime    |dropOff_datetime   |day                |trip_time|
+-------------------+-------------------+-------------------+---------+
|2019-10-11 18:00:00|2091-10-11 18:30:00|2019-10-11 00:00:00|631152   |
|2019-10-11 15:13:44|2019-11-03 16:21:51|2019-10-11 00:00:00|553      |
|2019-10-11 11:05:21|2019-11-03 12:07:41|2019-10-11 00:00:00|553      |
|2019-10-11 15:25:44|2019-11-03 16:51:28|2019-10-11 00:00:00|553      |
|2019-10-11 08:11:34|2019-11-03 09:15:20|2019-10-11 00:00:00|553      |
|2019-10-11 12:49:29|2019-11-03 12:58:48|2019-10-11 00:00:00|552      |
|2019-10-11 14:59:07|2019-11-03 15:03:59|2019-10-11 00:00:00|552      |
|2019-10-11 11:51:29|2019-11-03 12:00:01|2019-10-11 00:00:00|552      |
|2019-10-11 18:54:41|2019-11-03 19:00:35|2019-10-11 00:00:00|552      |
|2019-10-11 10:51:06|2019-11-03 11:32:18|2019-10-11 00:00:00|552      |
|2019-10-11 21:40:32|2019-11-03 21:53:58|2019-10-11 00:00:00|552      |
|2019-10-11 08:05:30|2019-11-03 08:21:45|2019-10-11 00:00:00|552      |
|2019-10-11 20:50:06|2019-11-03 21:00:06|2019-10-11 00:00:00|552      |
|2019-10-11 11:20:04|2019-11-03 11:31:35|2019-10-11 00:00:00|552      |
|2019-10-11 08:54:18|2019-11-03 09:44:51|2019-10-11 00:00:00|552      |
|2019-10-11 15:28:49|2019-11-03 15:41:52|2019-10-11 00:00:00|552      |
|2019-10-11 09:11:09|2019-11-03 09:32:38|2019-10-11 00:00:00|552      |
|2019-10-11 14:59:54|2019-11-03 15:17:03|2019-10-11 00:00:00|552      |
|2019-10-11 14:34:22|2019-11-03 14:49:38|2019-10-11 00:00:00|552      |
|2019-10-11 14:47:00|2019-11-03 14:51:41|2019-10-11 00:00:00|552      |
|2019-10-11 11:58:39|2019-11-03 12:19:42|2019-10-11 00:00:00|552      |
|2019-10-11 10:15:04|2019-11-03 10:38:53|2019-10-11 00:00:00|552      |
|2019-10-11 19:02:06|2019-11-03 19:03:10|2019-10-11 00:00:00|552      |
|2019-10-11 09:43:01|2019-11-03 09:52:45|2019-10-11 00:00:00|552      |
|2019-10-11 12:42:41|2019-11-03 13:00:45|2019-10-11 00:00:00|552      |
|2019-10-11 21:10:00|2019-11-03 21:20:19|2019-10-11 00:00:00|552      |
|2019-10-11 12:39:00|2019-11-03 12:45:52|2019-10-11 00:00:00|552      |
|2019-10-11 13:24:44|2019-11-03 13:25:27|2019-10-11 00:00:00|552      |
|2019-10-11 07:03:53|2019-11-03 07:07:02|2019-10-11 00:00:00|552      |
|2019-10-11 10:05:45|2019-11-03 10:13:35|2019-10-11 00:00:00|552      |
|2019-10-11 10:40:30|2019-11-03 11:01:52|2019-10-11 00:00:00|552      |
|2019-10-11 08:22:23|2019-11-03 08:33:20|2019-10-11 00:00:00|552      |
|2019-10-11 14:42:30|2019-11-03 14:50:23|2019-10-11 00:00:00|552      |
|2019-10-11 12:53:39|2019-11-03 13:04:26|2019-10-11 00:00:00|552      |
|2019-10-11 09:50:38|2019-11-03 09:50:43|2019-10-11 00:00:00|552      |
|2019-10-11 15:37:26|2019-11-03 15:43:34|2019-10-11 00:00:00|552      |
|2019-10-11 09:32:23|2019-11-03 09:58:03|2019-10-11 00:00:00|552      |
|2019-10-11 14:51:31|2019-11-03 14:53:16|2019-10-11 00:00:00|552      |
|2019-10-11 21:26:14|2019-11-03 22:00:35|2019-10-11 00:00:00|552      |
|2019-10-11 13:03:58|2019-11-03 14:03:56|2019-10-11 00:00:00|552      |
|2019-10-11 13:53:30|2019-11-03 13:53:37|2019-10-11 00:00:00|552      |
|2019-10-11 06:44:08|2019-11-03 07:09:38|2019-10-11 00:00:00|552      |
|2019-10-11 15:04:09|2019-11-03 15:14:09|2019-10-11 00:00:00|552      |
|2019-10-11 12:02:48|2019-11-03 12:35:14|2019-10-11 00:00:00|552      |
|2019-10-11 02:53:30|2019-11-03 03:12:05|2019-10-11 00:00:00|552      |
|2019-10-11 19:15:07|2019-11-03 19:18:26|2019-10-11 00:00:00|552      |
|2019-10-11 12:31:23|2019-11-03 12:56:01|2019-10-11 00:00:00|552      |
|2019-10-11 12:56:52|2019-11-03 13:26:15|2019-10-11 00:00:00|552      |
|2019-10-11 16:01:56|2019-11-03 16:17:15|2019-10-11 00:00:00|552      |
|2019-10-11 09:49:21|2019-11-03 10:12:52|2019-10-11 00:00:00|552      |
|2019-10-11 10:19:25|2019-11-03 10:19:30|2019-10-11 00:00:00|552      |
|2019-10-11 09:06:11|2019-11-03 09:27:04|2019-10-11 00:00:00|552      |
|2019-10-11 06:00:17|2019-11-03 06:09:18|2019-10-11 00:00:00|552      |
|2019-10-11 07:08:18|2019-11-03 07:32:50|2019-10-11 00:00:00|552      |
|2019-10-11 13:57:15|2019-11-03 14:02:29|2019-10-11 00:00:00|552      |
|2019-10-11 12:21:18|2019-11-03 12:33:20|2019-10-11 00:00:00|552      |
|2019-10-11 11:10:27|2019-11-03 11:10:36|2019-10-11 00:00:00|552      |
|2019-10-11 05:36:59|2019-11-03 05:39:39|2019-10-11 00:00:00|552      |
|2019-10-11 09:41:57|2019-11-03 10:05:09|2019-10-11 00:00:00|552      |
|2019-10-11 03:00:21|2019-11-03 03:28:17|2019-10-11 00:00:00|552      |
|2019-10-11 07:11:34|2019-11-03 07:15:44|2019-10-11 00:00:00|552      |
|2019-10-11 13:48:30|2019-11-03 13:55:56|2019-10-11 00:00:00|552      |
|2019-10-11 07:46:37|2019-11-03 08:14:43|2019-10-11 00:00:00|552      |
|2019-10-11 13:40:30|2019-11-03 14:09:59|2019-10-11 00:00:00|552      |
|2019-10-11 11:02:04|2019-11-03 11:14:03|2019-10-11 00:00:00|552      |
|2019-10-11 17:06:30|2019-11-03 17:06:37|2019-10-11 00:00:00|552      |
|2019-10-11 21:10:26|2019-11-03 21:17:02|2019-10-11 00:00:00|552      |
|2019-10-11 12:18:29|2019-11-03 12:28:04|2019-10-11 00:00:00|552      |
|2019-10-11 11:15:13|2019-11-03 11:44:54|2019-10-11 00:00:00|552      |
|2019-10-11 07:57:39|2019-11-03 08:07:49|2019-10-11 00:00:00|552      |
|2019-10-11 15:26:27|2019-11-03 15:53:54|2019-10-11 00:00:00|552      |
|2019-10-11 10:58:49|2019-11-03 11:20:49|2019-10-11 00:00:00|552      |
|2019-10-11 10:28:36|2019-11-03 11:01:39|2019-10-11 00:00:00|552      |
|2019-10-11 11:26:40|2019-11-03 11:33:57|2019-10-11 00:00:00|552      |
|2019-10-11 18:32:37|2019-11-03 18:43:01|2019-10-11 00:00:00|552      |
|2019-10-11 08:48:27|2019-11-03 08:58:59|2019-10-11 00:00:00|552      |
|2019-10-11 13:54:27|2019-11-03 14:22:05|2019-10-11 00:00:00|552      |
|2019-10-11 09:03:42|2019-11-03 09:22:32|2019-10-11 00:00:00|552      |
|2019-10-11 12:04:28|2019-11-03 12:12:21|2019-10-11 00:00:00|552      |
|2019-10-11 12:40:34|2019-11-03 13:30:30|2019-10-11 00:00:00|552      |
|2019-10-11 07:09:37|2019-11-03 07:49:18|2019-10-11 00:00:00|552      |
|2019-10-11 07:11:22|2019-11-03 07:27:29|2019-10-11 00:00:00|552      |
|2019-10-11 07:49:28|2019-11-03 08:08:29|2019-10-11 00:00:00|552      |
|2019-10-11 11:01:02|2019-11-03 11:22:16|2019-10-11 00:00:00|552      |
|2019-10-11 07:58:08|2019-11-03 08:21:51|2019-10-11 00:00:00|552      |
|2019-10-11 12:10:43|2019-11-03 12:19:29|2019-10-11 00:00:00|552      |
|2019-10-11 22:01:23|2019-11-03 22:08:40|2019-10-11 00:00:00|552      |
|2019-10-11 05:16:37|2019-11-03 05:16:42|2019-10-11 00:00:00|552      |
|2019-10-11 02:03:00|2019-11-03 02:26:49|2019-10-11 00:00:00|552      |
|2019-10-11 06:55:25|2019-11-03 07:10:00|2019-10-11 00:00:00|552      |
|2019-10-11 07:37:25|2019-11-03 07:52:49|2019-10-11 00:00:00|552      |
|2019-10-11 14:11:44|2019-11-03 14:44:41|2019-10-11 00:00:00|552      |
|2019-10-11 11:19:30|2019-11-03 11:34:16|2019-10-11 00:00:00|552      |
|2019-10-11 09:33:54|2019-11-03 10:08:41|2019-10-11 00:00:00|552      |
|2019-10-11 14:02:17|2019-11-03 14:17:12|2019-10-11 00:00:00|552      |
|2019-10-11 19:06:55|2019-11-03 19:26:26|2019-10-11 00:00:00|552      |
|2019-10-11 07:48:25|2019-11-03 08:02:29|2019-10-11 00:00:00|552      |
|2019-10-11 04:56:56|2019-11-03 05:29:39|2019-10-11 00:00:00|552      |
|2019-10-11 08:47:11|2019-11-03 08:58:51|2019-10-11 00:00:00|552      |
|2019-10-11 07:32:27|2019-11-03 07:57:26|2019-10-11 00:00:00|552      |
+-------------------+-------------------+-------------------+---------+
only showing top 100 rows

In [60]:
# Ans.4: 631152 hours

spark.sql("""
SELECT
    date_trunc('day', pickup_datetime) AS day,
    MAX(DATEDIFF(HOUR, pickup_datetime, dropOff_datetime)) AS trip_time
FROM
    fhv_trips_data
GROUP BY
    day
ORDER BY
    trip_time DESC
""").show(n=100, truncate=False)

+-------------------+---------+
|day                |trip_time|
+-------------------+---------+
|2019-10-28 00:00:00|631152   |
|2019-10-11 00:00:00|631152   |
|2019-10-31 00:00:00|87672    |
|2019-10-01 00:00:00|70128    |
|2019-10-17 00:00:00|8794     |
|2019-10-26 00:00:00|8784     |
|2019-10-30 00:00:00|1464     |
|2019-10-25 00:00:00|1056     |
|2019-10-02 00:00:00|769      |
|2019-10-03 00:00:00|745      |
|2019-10-23 00:00:00|745      |
|2019-10-04 00:00:00|744      |
|2019-10-07 00:00:00|744      |
|2019-10-05 00:00:00|697      |
|2019-10-06 00:00:00|674      |
|2019-10-08 00:00:00|625      |
|2019-10-16 00:00:00|604      |
|2019-10-09 00:00:00|601      |
|2019-10-10 00:00:00|577      |
|2019-10-12 00:00:00|528      |
|2019-10-13 00:00:00|504      |
|2019-10-14 00:00:00|482      |
|2019-10-15 00:00:00|457      |
|2019-10-18 00:00:00|384      |
|2019-10-19 00:00:00|360      |
|2019-10-20 00:00:00|337      |
|2019-10-21 00:00:00|313      |
|2019-10-22 00:00:00|289      |
|2019-10-24 00:00:00|242      |
|2019-10-27 00:00:00|169      |
|2019-10-29 00:00:00|122      |
+-------------------+---------+

In [ ]:
# Ans.5 : Port 4040

In [43]:
df1 = spark.read \
    .option("header", "true") \
    .parquet('zones')

In [44]:
df1.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [45]:
df1.printSchema()

root
 |-- LocationID: string (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [35]:
from pyspark.sql.functions import col

In [46]:
df1 = df1.select(col('LocationID').cast('int'),
                 col('Borough').cast('string'),
                 col('Zone').cast('string'),
                 col('service_zone').cast('string'))

In [48]:
df1.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [47]:
df1.printSchema()

root
 |-- LocationID: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [49]:
df1.createOrReplaceTempView('zones')

In [53]:
# Ans.6 Jamaica Bay

spark.sql("""
SELECT
    zones.LocationID,
    zones.Zone,
    count(1) AS total_trips
FROM
    fhv_trips_data
INNER JOIN zones
    ON fhv_trips_data.PUlocationID = zones.LocationID
GROUP BY
    zones.LocationID,
    zones.Zone
ORDER BY
    total_trips ASC               
""").show()

+----------+--------------------+-----------+
|LocationID|                Zone|total_trips|
+----------+--------------------+-----------+
|         2|         Jamaica Bay|          1|
|       105|Governor's Island...|          2|
|       111| Green-Wood Cemetery|          5|
|        30|       Broad Channel|          8|
|       120|     Highbridge Park|         14|
|        12|        Battery Park|         15|
|       207|Saint Michaels Ce...|         23|
|        27|Breezy Point/Fort...|         25|
|       154|Marine Park/Floyd...|         26|
|         8|        Astoria Park|         29|
|       128|    Inwood Hill Park|         39|
|       253|       Willets Point|         47|
|        96|Forest Park/Highl...|         53|
|        34|  Brooklyn Navy Yard|         57|
|        59|        Crotona Park|         62|
|        58|        Country Club|         77|
|        99|     Freshkills Park|         89|
|       190|       Prospect Park|         98|
|        54|     Columbia Street|        105|
|       217|  South Williamsburg|        110|
+----------+--------------------+-----------+
only showing top 20 rows