In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('green_tripdata_2020-10.csv.gz', sep=',', compression='gzip')

/tmp/ipykernel_1824/3248642474.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2020-10.csv.gz', sep=',', compression='gzip')

In [3]:
df.shape

(95120, 20)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44231 entries, 0 to 46291
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   vendor_id              44231 non-null  Int64
 1   lpep_pickup_datetime   44231 non-null  datetime64[ns]
 2   lpep_dropoff_datetime  44231 non-null  datetime64[ns]
 3   store_and_fwd_flag     44231 non-null  object
 4   ratecode_id            44231 non-null  Int64
 5   pulocation_id          44231 non-null  Int64
 6   dolocation_id          44231 non-null  Int64
 7   passenger_count        44231 non-null  Int64
 8   trip_distance          44231 non-null  float64
 9   fare_amount            44231 non-null  float64
 10  extra                  44231 non-null  float64
 11  mta_tax                44231 non-null  float64
 12  tip_amount             44231 non-null  float64
 13  tolls_amount           44231 non-null  float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  44231 non-null  float64
 16  total_amount           44231 non-null  float64
 17  payment_type           44231 non-null  Int64
 18  trip_type              44231 non-null  Int64
 19  congestion_surcharge   44231 non-null  float64
dtypes: Int64(7), datetime64[ns](2), float64(10), object(1)
memory usage: 7.4+ MB

In [ ]:
df.dtypes

In [ ]:
df.head()

In [4]:
df.columns = (df.columns
                .str.replace('(?<=[a-z])(?=[A-Z])', '_', regex=True)
                .str.lower()
             )

In [ ]:
df.info()

In [5]:
parse_dates = ['lpep_pickup_datetime', 'lpep_dropoff_datetime']

In [6]:
prefix='https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-'
months=['10','11','12']

In [7]:
taxi_dtypes = {
                    'VendorID': pd.Int64Dtype(),
                    'passenger_count': pd.Int64Dtype(),
                    'trip_distance': float,
                    'RatecodeID':pd.Int64Dtype(),
                    'store_and_fwd_flag':str,
                    'PULocationID':pd.Int64Dtype(),
                    'DOLocationID':pd.Int64Dtype(),
                    'payment_type': pd.Int64Dtype(),
                    'fare_amount': float,
                    'extra':float,
                    'mta_tax':float,
                    'tip_amount':float,
                    'tolls_amount':float,
                    'ehail_fee' :float,
                    'improvement_surcharge':float,
                    'total_amount':float,
                    'congestion_surcharge':float,
                    'trip_type':pd.Int64Dtype()
                }

In [32]:
for month in months:
    url = prefix+month+'.csv.gz'
    df = pd.read_csv(url, sep=',', compression='gzip', dtype=taxi_dtypes, parse_dates=parse_dates)
    
    old_names = list(df.columns)
    
    df.columns = (df.columns
                .str.replace('(?<=[a-z])(?=[A-Z])', '_', regex=True)
                .str.lower()
             )
    
    new_names = list(df.columns)
    
    print('prova', set(old_names) - (set(old_names).intersection(new_names)))
    
    print(month, df.shape)
    
    df=df.loc[(df['trip_distance'] != 0) & (df['passenger_count'] != 0)]
    
    print(month, df.shape)
    print(month, df['vendor_id'].unique())
    print(month, list(df['passenger_count'].unique()))
    print(month, df['passenger_count'].isin([0]).sum(),
          df['trip_distance'].isin([0]).sum())
    temp = list(df['passenger_count'].unique())
    print(temp[0].dtype)

prova {'RatecodeID', 'DOLocationID', 'PULocationID', 'VendorID'}
10 (95120, 20)
10 (49269, 20)
10 <IntegerArray>
[2, 1]
Length: 2, dtype: Int64
10 [1, 2, 6, 3, 5, 4, 8, 9]
10 0 0
int64
prova {'RatecodeID', 'DOLocationID', 'PULocationID', 'VendorID'}
11 (88605, 20)
11 (45870, 20)
11 <IntegerArray>
[2, 1]
Length: 2, dtype: Int64
11 [1, 2, 6, 5, 3, 4, 7, 8]
11 0 0
int64
prova {'RatecodeID', 'DOLocationID', 'PULocationID', 'VendorID'}
12 (83130, 20)
12 (44231, 20)
12 <IntegerArray>
[2, 1]
Length: 2, dtype: Int64
12 [1, 2, 5, 6, 4, 3]
12 0 0
int64

In [18]:
95120+88605+83130

266855

In [23]:
49269+45870+44231

139370

In [ ]:
parse_dates = ['lpep_pickup_datetime', 'lpep_dropoff_datetime']

df = pd.read_csv('green_tripdata_2020-10.csv.gz', 
                  sep=',', compression='gzip', parse_dates=parse_dates)

In [ ]:
df['lpep_pickup_date']= df['lpep_pickup_datetime'].dt.date

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df['lpep_pickup_date'] = pd.to_datetime(df['lpep_pickup_date'])

In [ ]:
df.info()

In [ ]:
df=df.loc[(df['trip_distance'] > 0.0) & (df['passenger_count'] > 0)]

In [ ]:
df['passenger_count'].isin([0]).sum()

In [ ]:
df['trip_distance'].isin([0]).sum()