**Remember to execute docker compose -p pg-network up -d before executing this notebook. This table is immutable for us and has to be populated only once.**

In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.1.3'

In [3]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-01-08 15:47:32--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 54.231.165.112, 52.217.1.166, 54.231.160.160, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|54.231.165.112|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-01-08 15:47:33 (156 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [4]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [5]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [6]:
from sqlalchemy import create_engine

In [13]:
# the ny_taxi DB is  inside a docker network created with docker compose
# In order to connect to it we access port 5432 in localhost (the VM)
# then as stated in the docker-compose.yml file this port is mapped to port 5432
# of the Postgres DB inside network. So there is a port forward 

engine = create_engine('postgresql+psycopg2://root:root@localhost:5432/ny_taxi')

In [14]:
print(pd.io.sql.get_schema(df_zones, name='zones', con=engine))

CREATE TABLE zones (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [15]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265